<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset =utf-8">
        <meta charset ="UTF-8">
        <title>Оформление заказа</title>
        <link rel="stylesheet" href="css/style.css">
        <link rel=" stylesheet" href="CSS/bootstrap.css">
    <script src="JS/jquery.js"></script>
        <script src="JS/xml2json.js"></script>
        <script src="JS/jquery.tmpl.min.js"></script>
        <script src="JS/my.js"></script>
    <script src="JS/jquery.cookie.js"></script>
        <script src="JS/script.js"></script>
</head>
<body>
     <link rel="stylesheet" href="css/style.css">
  <header class="header">
    <div class="container">
    <div class="row">
       
        
        <div class="col-xl-3.1">
                   
            <form action="form.php"> 
                <div id= left class="col-sm d-none d-sm-none d-md-none d-lg-block">
            <input type ="text" id=search-form name= "search" placeholder='Поиск на сайте'>
                
                <button class="button button1"> 
                    <img src="Images/zoom.png">
                </button>
                <br>
                
                <button class= "button button2"><img src="Images/okompa.png">
                </button>
                
                <button class= "button button3"><img src ="Images/Dostavka.png">
                </button>
                
                     <h5 class="myh1">Товары наши хороши - </h5>
                <h6 class="myh2">развивайтесь, малыши!</h6>
        
                    
                    </div>
            </form>
        
                    </div>
        
              <div class="col-sm">
        <div id=logo class="col-xl-2">
                <img src="Images/logotip.png">
        </div> 
        </div>           
         <div id= right class="col-sm d-none d-sm-none d-md-none d-lg-block">                 
        <div id= prav class = "col-xl-11">
                <img id=nomer src="Images/phone.png">
                <text 
                      id=text-nomer>8 (916) 227 1234
                </text>
                <img id=raspis src="Images/raspis.png">
               <input id = obr-zvon type="image" class="image2" src="./images/Obr-zvon.png"  >
        </div>
        </div>
     
    </div>
      </div>
      
</header>
<header class="glav">
<div class="container">
<div class="row"> 
<div class="col-xl-12">    
<form class = "glav-form">
<text class ="glavimg" style="background-size: 100% 100%; padding:50px 75px 120px 90px;">
   <text class="smh"style="padding-right: 15px; text-align: center"><br>Оформление<br>заказа</text>
    <br>
    <div class="row">
    <div class="col-sm">
    <text class ="list0001">
    <text style="padding-right: 50px;">ФИО : </text>
    <input class="inpuut" type="text" name="FIO" placeholder="Иванов Петр Васильевич"><br><br>
    <text style="padding-right: 25px;">Телефон : </text>
    <input class="inpuut" type="text" name="phone" placeholder="+ 7 (495) 123 45 67 "><br><br>
     <text style="padding-right: 45px;">E-mail: </text>
    <input class="inpuut" type="text" name="FIO" placeholder="vasha@pochta.ru"><br><br>
    
    <text>Ваш заказ: </text><br><br>
   
      <script id="cartTmpl" type="text/x-jquery-tmpl">
      {{each cart}}
     <form class="zakaz">
    <text class ="zakazimg" style="background-size: 100% 100%; padding-left: 25px;" >
     <div class="row">
    <div class="col-xl-5">
    <text class="list01">   
    <text style="font-size: 9pt;">${title}</text>  
    </text>
         </div>
         <div class="col-xl-2">
         <text class="list02">
         <text style="font-size: 9pt;">
        ${qty} шт.    
         </text>    
         </text>
         </div>
         <div class="col-xl-3">
         <text class="list03">
        <text style="font-size: 9pt;">
        ${price} грн.     
         </text>   
         </text>
         </div>
         <div class="col-xl-1">
         <text class="list03">
             <button class ="krest"><img src="Images/krest.png"></button>
             </text>
         </div>
        </div>
        </text>
        <br>
    </form>
    {{/each}}
    </script>
      <script>
    new MyShop ('products.xml','cart');
    </script>
    <div id="content">
    
    
    
    
</div>     
           
        
     <button class="v-korzinu1">
    <img src="Images/oformzak.png">    
    </button>
        <br><br>
    <text>
    Регистрация обязательна для следующих действий:<br>
· активация скидочного купона<br>
· получение бонусных баллов за покупки<br>
· оплаты заказа через интернет<br>
· оформление заказа на организацию<br>    
    </text>
        <br>
    <div class="radio">
    <input id="покупка с регистрацией" type="radio" name="gender" value="покупка с регистрацией">
    <label for="покупка с регистрацией">покупка с регистрацией</label>
     <br>   
     <input id="вход для зарегистрированных пользователей" type="radio" name="gender" value="вход для зарегистрированных пользователей">
    <label for="вход для зарегистрированных пользователей">вход для зарегистрированных пользователей</label>    
        </div>    
    </text>    
    </div>
    </div>
</text>    
</form>
</div> 
</div>
    </div>
   
</header>   
 <footer class = "footer">
 <img src="./images/logo.png" class="image" style="margin-right:8%; margin-left: 6%;">
    <img src="./images/phone-bot.png" class="image ">
    <text class="smh d-none d-sm-none d-md-none d-lg-inline" style="font-size: 16pt; margin-right:8%; display: inline; ">8 (916) 227 1234</text>
    <img class="icon" style="background-position: 2px 0px;">
    <img class="icon" style="background-position: -28px 0px;">
    <img class="icon" style="background-position: -58px 0px;">
    <img class="icon" style="background-position: -89px 0px;">
    <img class="icon" style="background-position: -120 0px;">
    <img class="icon" style="background-position: -179px 0px; ">
    <img src="./images/Guses.png" style="margin-left:5%; float:right bottom; bottom: 70px; position: relative;" class="image d-none d-sm-none d-md-none d-lg-inline">
</footer>   
    </body>
</html>
