<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset =utf-8">
        <meta charset ="UTF-8">
        <title>Каталог товаров</title>
        <link rel="stylesheet" href="css/style.css">
        <link rel=" stylesheet" href="CSS/bootstrap.css">
   <script src="JS/jquery.js"></script>
        <script src="JS/xml2json.js"></script>
        <script src="JS/jquery.tmpl.min.js"></script>
        <script src="JS/my.js"></script>
    <script src="JS/jquery.cookie.js"></script>

    <script src="JS/script.js"></script>
    
    
</head>
<body>
     <link rel="stylesheet" href="css/style.css">
  <header class="header">
    <div class="container">
    <div class="row">
       
        
        <div class="col-xl-3.1">
                   
            <form action="form.php"> 
                <div id= left class="col-sm d-none d-sm-none d-md-none d-lg-block">
            <input type ="text" id=search-form name= "search" placeholder='Поиск на сайте'>
                
                <button class="button button1"> 
                    <img src="Images/zoom.png">
                </button>
                <br>
                
                <button class= "button button2"><img src="Images/okompa.png">
                </button>
                
                <button class= "button button3"><img src ="Images/Dostavka.png">
                </button>
                
                     <h5 class="myh1">Товары наши хороши - </h5>
                <h6 class="myh2">развивайтесь, малыши!</h6>
        
                    
                    </div>
            </form>
        
                    </div>
        
              <div class="col-sm">
        <div id=logo class="col-xl-2">
                <img src="Images/logotip.png">
        </div> 
        </div>           
         <div id= right class="col-sm d-none d-sm-none d-md-none d-lg-block">                 
        <div id= prav class = "col-xl-11">
                <img id=nomer src="Images/phone.png">
                <text 
                      id=text-nomer>8 (916) 227 1234
                </text>
                <img id=raspis src="Images/raspis.png">
               <input id = obr-zvon type="image" class="image2" src="./images/Obr-zvon.png"  >
        </div>
        </div>
     
    </div>
      </div>
      
</header> 
<header class = "Catalog">
 <div class="container">
    <div class="row">
         <div class="col-xl-8">
        <div class="container-tovari">
            <text id = text-putb>Главная  »  Товары для детей  »  Коляски</text>
            <br>    
            <text class = "nazv-cat">
            Детские коляски
            </text>
            <form class="menuimg" style ="background-size: 100% 100%"><text id=sort > </text><text id=menu-text>Сортировать :</text><button class="menu-but" id=po-po>По популярности</button><button class="menu-but">По цене</button><button class="menu-but">по цене и наличию</button><button class="menu-but">по брендам</button> </form>
          <script>
new MyShop('products.xml','category');    
</script>
<div id="content">
    
    
    
    
</div>    
    <script id="prodTmpl" type="text/x-jquery-tmpl">
 {{each product}}
  <text class="nazv-koly" ><br><a href="product.html#cat_id=1&id=${id}">${title}</a></text>
            <form class="fonimg" style="background-size: 100% 100%">
                <div class="row">
                <div class="col-xl-3">
                <text class="list01">
                <img style="height:169px;width:170px ;position: static;padding-top: 20px;" src="img/${image}">
                    </text>
                    </div>
                  <div class="col-xl-4">
                <form sty class="list02">
                    <br>Тип<br>Количество блоков<br>Механизм складывания<br>Количество колес<br>Колеса<br>Максимальный возраст<br>Цвет<br>
                    <button class="v-korzinu"><img src="Images/buy.png"></button>
                    
                      </form>
                    </div>
                    <div class="col-xl-2">
                    <form class = "list03">
                      <br>Прогулочная<br>Один<br>Трость<br>8<br>Резиновые<br>3 года<br>Синий<br>  
                    </form>
                    </div>
                    <div class="col-xl-3">
                    <form class="lost04">
                        <br>
                    <img id = chk src="Images/waatch.png">
                    <text class="vnal">
                    Под заказ    
                    </text>
                        
                    <text class = "old-price"><br><br>${price} грн.</text>
                    
                    </form>
                    </div>
                </div>
            </form>
{{/each}}

</script>
            <form class="strnom" style="background-size: 100% 100%"><text id = sort></text><button class="stranizi" id = nazad><img  src="Images/nazad.png"></button>
            <button class="stranizi1" style="outline: none;"><img src="Images/1.png"></button>
            <button class="stranizi1"style="outline: none;"><img src="Images/2.png"></button>
            <button class="stranizi1"style="outline: none;"><img src="Images/3.png"></button>
            <button class="stranizi1"style="outline: none;"><img src="Images/4.png"></button> 
            <button class="stranizi1"style="outline: none;"><img src="Images/toc.png"></button>
            <button class="stranizi1"style="outline: none;"><img src="Images/9.png"></button>
            <button class="stranizi1"style="outline: none;"><img src="Images/go.png"></button> 
            <button class="stranizi1"style="outline: none;"><img src="Images/po10.png"></button>
            <button class="stranizi1"style="outline: none;"><img src="Images/po-20.png"></button>
            
                
            </form>
     </div>
    </div>
<div class="xl-l-10">
<form class="oblako">   
        <text class ="bimage" style="background-size: 120%;">
              <text class="decr" style="font-weight: 700;  padding-bottom: 0%;">В вашей корзине</text>
                        <text class="decr" style="margin-top: 0%; padding-top: 0%;padding-bottom: 0%;">
                            7 товаров <br>на сумму 42069 руб
                        </text>
                    <button class="mybtn1 d-block">оформить</button>
             </text>
            <br>
</form>
            
<form class="vid">
<text class="vidimg" style ="background-size: 100% 100%">
              <text class="smh" style = "padding-left: 75px;">
              <br>Виды колясок<br><br>  
              </text> 
<div class="row">
<div class="col-sm">
<text class="list001">  
                                
<label class="vid-check">
    <input type="checkbox" value="Коляски для новорожденных" checked="checked"> Коляски для<br> новорожденных
    <span class="checkmark"></span>
</label>


<label class="vid-check">
    <input type="checkbox"> Прогулочные коляски
    <span class="checkmark"></span>
</label>

<label class="vid-check">
    <input type="checkbox"> Коляски трости
    <span class="checkmark"></span>
</label>

<label class="vid-check">
    <input type="checkbox"> Универсальные коляски
    <span class="checkmark"></span>
</label>

<label class="vid-check">
    <input type="checkbox"> Коляски для двойни
    <span class="checkmark"></span>
</label>

<label class="vid-check">
    <input type="checkbox"> Конверты
    <span class="checkmark"></span>
</label>

<label class="vid-check">
    <input type="checkbox"> Защита от дождя и солнца
    <span class="checkmark"></span>
</label>

<label class="vid-check">
    <input type="checkbox"> Сумки к коляскам
    <span class="checkmark"></span>
</label>

<label class="vid-check">
    <input type="checkbox"> Запчасти
    <span class="checkmark"></span>
</label>
                                <br>
</text>
</div>
</div>
            
</text>
<br>    
</form> 
<form class="brend">
<text class="brendimg" style ="background-size: 100% 100%">
              <text class="smh" style = "padding-left: 75px;">
              <br>Бренды<br><br>  
              </text> 
<div class="row">
<div class="col-sm">
<text class="list002">
<label class="brend-check">
    <input type="checkbox" value="Коляски для новорожденных" > ABC Design
    <span class="checkmark"></span>
</label>


<label class="brend-check">
    <input type="checkbox"> Adamex
    <span class="checkmark"></span>
</label>

<label class="brend-check">
    <input type="checkbox"> Androx
    <span class="checkmark"></span>
</label>

<label class="brend-check">
    <input type="checkbox"> Aneco
    <span class="checkmark"></span>
</label>

<label class="brend-check">
    <input type="checkbox"> Anmar
    <span class="checkmark"></span>
</label>

<label class="brend-check">
    <input type="checkbox"> Baby car (Беби кар)
    <span class="checkmark"></span>
</label>

<label class="brend-check">
    <input type="checkbox"> Bebetto
    <span class="checkmark"></span>
</label>

<label class="brend-check">
    <input type="checkbox"> Britax
    <span class="checkmark"></span>
</label>

<label class="brend-check">
    <input type="checkbox"> Capella
    <span class="checkmark"></span>
</label>

<label class="brend-check">
    <input type="checkbox"> Chicco
    <span class="checkmark"></span>
</label>

<label class="brend-check">
    <input type="checkbox"> Navington
    <span class="checkmark"></span>
</label>

<label class="brend-check">
    <input type="checkbox"> Peg Perego (Пег Перего)
    <span class="checkmark"></span>
</label>
    <br>
</text>
                            
</div>
</div>
</text>
    <br>
</form>
<form class="Xapakter">
<text class="Xapakterimg" style ="background-size: 100% 100%">
              <text class="smh" style = "padding-left: 75px;">
              <br>Характеристики<br><br>  
              </text> 
<div class="row">
<div class="col-sm">
<text class="list002">
<div class="Xar">
<ul>
    <li class="myli">
    <a  href="#">Механизм складывания</a>
    </li>
    <li>
    <a href="#">Количество колес</a>
    </li>
    <li>
    <a href="#">Колеса</a>
    </li>
    <li>
    <a href="#">Максимальный возраст</a>
        <ul class="child">
        <li>До 3 лет</li>
        <li>До 6 лет</li>
        <li>До 12 лет</li>    
        </ul>
    </li>
    <li>
    <a style="padding-bottom: 5px;" href="#">Цвет</a>
        <ul class="child">
        <li>Красный</li>
        <li>Желтый</li>
        <li>Фиолетовый</li>
        </ul>
    </li>
    
</ul>    
</div>    
    </text>
    </div>
     </div>
    </text>
    <br>
    </form>
    <form class="Katalog">
<text class="Katalogimg" style ="background-size: 100% 100%">
              <text class="smh" style = "padding-left: 75px;">
              <br>Каталог<br><br>  
              </text> 
<div class="row">
<div class="col-sm">
<text class="list002">
<div class="Xar">
<ul>
    <li class="myli">
    <a  href="#">Коляски</a>
    </li>
    <li>
    <a href="#">Мебель и матрасы</a>
    </li>
    <li>
    <a href="#">Автокресла</a>
    </li>
    <li>
    <a href="#">Развитие</a>
        <ul class="child">
        <li>Ходунки</li>
        <li>Интерактивные<br> книжки</li>
        <li>Обучающие <br>компьютеры</li>    
        <li>Обучающие<br> компьютеры</li>    
        </ul>
    </li>
    <li>
    <a  href="#">Зимние товары</a>
        <ul class="child">
        <li>Саночки, Снегокаты,<br> Тюбинги</li>
        <li>Ёлочные украшения</li>
        <li>Ёлки</li>

        </ul>
    </li>
                <li class="myli">
    <a  href="#">Одежда и обувь<br>
для малышей</a>
    </li>
    <li>
    <a href="#">Одежда для<br> беременных</a>
    </li>
    <li>
    <a href="#">Товары по<br>
сниженным ценам</a>
    </li>
    <li>
    <a href="#">Гигиена</a>
        <ul class="child">
        <li>Горшочки</li>
        <li>Подгузники</li>
        <li>Ванночки</li>    
        </ul>
    </li>
    <li>
    <a style="padding-bottom: 5px;" href="#">Активные игры</a>
        <ul class="child">
        <li>Велосипедики</li>
        <li>Самокатики</li>
        <li>Качельки</li>
     
        </ul>
    </li>
           <li class="myli">
    <a  href="#">Товары для мам<br>
и малышей, электроника</a>
    </li>
</ul>    
</div>    
    </text>
    </div>
     </div>
    </text>
        <br>
    </form>
    <img class="lider" src="Images/lider.png">
    </div>
     </div>
    </div>
    </header>
   <footer class = "footer">
 <img src="./images/logo.png" class="image" style="margin-right:8%; margin-left: 6%;">
    <img src="./images/phone-bot.png" class="image ">
    <text class="smh d-none d-sm-none d-md-none d-lg-inline" style="font-size: 16pt; margin-right:8%; display: inline; ">8 (916) 227 1234</text>
    <img class="icon" style="background-position: 2px 0px;">
    <img class="icon" style="background-position: -28px 0px;">
    <img class="icon" style="background-position: -58px 0px;">
    <img class="icon" style="background-position: -89px 0px;">
    <img class="icon" style="background-position: -120 0px;">
    <img class="icon" style="background-position: -179px 0px; ">
    <img src="./images/Guses.png" style="margin-left:5%; float:right bottom; bottom: 70px; position: relative;" class="image d-none d-sm-none d-md-none d-lg-inline">
</footer>
    

</body>    
</html>